:host {
  display: block;
  padding: 10px;
}

app-agents { grid-area: agents; }
app-calls-by-country { grid-area: calls; }
app-button-list { grid-area: filters; }
.select-time-frame { grid-area: timeFrame; }
.statistic { grid-area: statistic; }

.top-menu {
  height: 20vh;
  display: grid;
  grid-template-areas:
    'agents  timeFrame statistic'
    'calls   timeFrame statistic'
    'filters timeFrame statistic';
  grid-template-columns: 1fr 200px 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.statistic {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-time-frame {
  margin: auto;
  select {
    height: 36px;
    max-width: 200px;
    min-width: 200px;
  }
}

.bottom-menu {
  display: flex;
  .chart {
    width: 60%;
    padding: 20px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  table {
    width: 40%;
  }
}


@media only screen and (max-width: 992px) {
  .top-menu {
    height: auto;
    display: grid;
    grid-template-areas:
    'agents'
    'calls'
    'filters'
    'timeFrame'
    'statistic'
  ;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .select-time-frame {
    margin: 0 auto 0 0;
  }
  .bottom-menu {
    .chart {
      width: 50%;
    }
    table {
      width: 50%;
    }
  }
}
