<div class="top-menu">
  <app-agents class="agents" [agents]="agents"></app-agents>
  <app-calls-by-country class="country" [callsByCountry]="callsByCountry"></app-calls-by-country>
  <app-button-list [settings]="buttonsSettings" (filtersWasChanged)="recalculateDataByStatus()" [itemsDataOrigin]="itemsDataOrigin"></app-button-list>
  <label class="select-time-frame" for="time-frame">
    <select id="time-frame" [formControl]="timeFrame">
      <option [ngValue]="1">1h</option>
      <option [ngValue]="2">2h</option>
      <option [ngValue]="0">All</option>
    </select>
  </label>
  <div class="statistic">
    <h1>Statistic</h1>
  </div>
</div>


<div class="bottom-menu">
  <div class="chart">
    <h1>Charts</h1>
  </div>
  <table>
    <tr>
      <th>Agent id</th>
      <th>Status</th>
      <th>Date</th>
      <th>Country</th>
      <th>Duration minutes</th>
    </tr>
    <tr *ngFor="let i of itemsDataFiltered">
      <td>{{i.agentId}}</td>
      <td>{{getStatusName(i.status)}}</td>
      <td>{{i.timestamp | date: 'dd/MM/YYYY h:m:s'}}</td>
      <td>{{i.country}}</td>
      <td>{{i.duration}}</td>
    </tr>
  </table>
</div>
