:host {
  &.active {
    .btn {
      background: #afaf00;
      &.not-active {
        border-color: #afaf00;
      }
    }
  }
  &.waiting {
    .btn {
      background: orange;
      &.not-active {
        border-color: orange;
      }
    }
  }
  &.processed {
    .btn {
      background: green;
      &.not-active {
        border-color: green;
      }
    }
  }
  &.hang-up {
    .btn {
      background: red;
      &.not-active {
        border-color: red;
      }
    }
  }
  .btn {
    padding: 10px 20px;
    //border: none;
    border-radius: 4px;
    white-space: nowrap;
    color: white;
    border: 1px solid transparent;
    &.not-active {
      background: white;
      color: black;
      border: 1px solid;
    }
  }
}

